body{
    margin: 0;
    padding: 0;
    background-color: #1e2527;
    display: flex;
    justify-content: center;
}

p{
    color: aliceblue;
}

.card{
    width: 60%;
    background-color: #252b2d;
    min-height: 40px;
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
    transition: all ease-in-out 0.2s;
}
.card:hover{
    background-color: #282e30;
}


/* #252b2d */
@media screen and (max-width: 1150px) {
    .card{
        width: 80%;
    }
}