/* 滚动条 */
body::-webkit-scrollbar{
    width: 0px;
    height: 0px;}
::-webkit-scrollbar{
    width: 0px;
    height: 16px;
    background-color: #00000000;}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #00000000;}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #1d2325;}


*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
body{
    background-color:#1d2325;
    min-width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
}
.top{
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #191f20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.topbutton{
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(160, 160, 160);
    text-decoration-line: none;
}
.topbutton:hover{
    background-color: #161a1b;
    color: white;
}

.body{
    width: 800px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chunk{
    background-color: #80808010;
    box-shadow: rgb(27, 27, 27) 0 0 10px;
    border-radius: 20px;
    margin: 7px;
    padding: 20px;
}
.chunk h2{
    display: inline;
    color: #ffc93a;
}
.downloadCard{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    height: 250px;
    width: 200px;
    background-color: #80808010;
    box-shadow: rgb(27, 27, 27) 0 0 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.downloadCard .downloadImg{
    width: 200px;
    height: 200px;
    border-radius: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* 字体 */
h3{
    margin: 10px 0 10px 0;
    font-size: 20px;
    color: white;
}
h4{
    font-size: 23px;
    display: inline;
    color: #ff823a;
}